# Server Configuration
PORT=4000
NODE_ENV=development

# Database Configuration
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379
REDIS_PASSWORD=
REDIS_USERNAME=

PGADMIN_DEFAULT_EMAIL=admin@local.com
PGADMIN_DEFAULT_PASSWORD=admin123

JWT_SECRET=
JWT_EXPIRER_AT="1d"

PRIVATE_KEY=
PRIVATE_KEY_2=

TWITTER_APP_ID=
TWITTER_API_KEY=
TWITTER_API_SECRET_KEY=
TWITTER_AUTH_TOKEN=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
